<!DOCTYPE html>
<html>
    <head>
        <title>CEDRIC monitor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark box-shadow">
                <div class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <!-- <strong>CEDRIC</strong> -->
                        Suivre les installations classées près de chez vous
                    </a>
                </div>
            </div>
        </header>
        <main>
            <div class="container bg-light">
                <div style="height:20px;"></div>
                <div class="row">
                    <div class="col-md-8">
                        <p><a href="http://www.installationsclassees.developpement-durable.gouv.fr/rechercheICForm.php">CEDRIC</a>
                            est une base de données gérée par l'État, elle
                            recense les installations soumises à autorisation ou
                            déclaration.</p>
                        <p>
                        <p>Vous pouvez consulter cette base de donnée directement
                            sur le site du ministère.
                        </p>
                        <p>L'outil qui vous est proposé ici vous permet d'être
                            avertit d'une mise à jour d'une activité comme
                            l'augmentation d'un volume de stockage ou encore d'une
                            nouvelle déclaration sur une commune ou un département.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h1>suivre un département</h1>
                    </div>
                    <div class="col-md-4">
                        <h1>suivre une commune</h1>
                    </div>
                    <div class="col-md-4">
                        <h1>gérer mes abonnements</h1>
                    </div>
                </div>
            </div>
        </main>
        
        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to top</a>
                </p>
                <p>Réalisé et hébergé par <a href="https://github.com/jecodepourlanature">jecodepourlanature</a>.</p>                
            </div>
        </footer>
    </body>
</html>
