{% extends "main.html" %}
{% block main %}
    <div class="row">
        <div class="col-md-8">
            <p><a href="http://www.installationsclassees.developpement-durable.gouv.fr/rechercheICForm.php">CEDRIC</a>
                est une base de données gérée par l'État, elle
                recense les installations soumises à autorisation ou
                déclaration.</p>
            <p>
            <p>Vous pouvez consulter cette base de donnée directement
                sur le site du ministère.
            </p>
            <p>L'outil qui vous est proposé ici vous permet d'être
                avertit d'une mise à jour d'une activité comme
                l'augmentation d'un volume de stockage ou encore d'une
                nouvelle déclaration sur une commune ou un département.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="/ajouter/departement">
                <h1>suivre un département</h1>
            </a>
        </div>
        <!--
        <div class="col-md-4 text-center">
            <a href="/ajouter/commune">
                <h1>suivre une commune</h1>
            </a>
        </div>
    </div>
    <div class="row">
        -->
        <div class="col-md-4 text-center">
            <a href="/abos">
                <h1>gérer mes abonnements</h1>
            </a>
        </div>
    </div>
{% endblock %}